.ui_input {
	margin-bottom: 0.4em;
}

.multi_input {
  margin-top: 0.4em;
  width: 100%;
}

.multi_input_text {
	width: 100%;
}

.ui.styled.accordion {
  width: 100%;
}

.ui.segment {
	margin-top:0.5rem;
	margin-bottom:0;
}

.params_box {
	margin-top: 0.5rem;
}

.nud_btns {
	margin-left: 10px;
}
